<div class="container">
    <div class="logo">
        <h1>Leandro Ruiz</h1>
        <h2>ABOGADO</h2>
    </div>
    <div class="secciones">
        <ul>
            <li (click)="onNavigate('home')">INICIO</li>
            <li (click)="onNavigate('about-me')">SOBRE MI</li>
            <li (click)="onNavigate('work')">MODALIDAD DE TRABAJO</li>
            <li (click)="onNavigate('areas')">AREAS DE ESPECIALIDAD</li>
            <li (click)="onNavigate('contact')">CONTACTO</li>
        </ul>
    </div>
</div>