<div class="container">
    <div class="text">
        <h2>Un poco de mi historia</h2>
        <p>Nací en Avellaneda, provincia de Buenos Aires, Argentina.</p>
        <p>Cursé mis estudios universitarios en la Facultad de Derecho de la Universidad de Buenos Aires (UBA). Allí realicé el Ciclo Profesional Orientado en Derecho Penal y Criminología. </p>
        <p>Actualmente curso la maestría especializada en “Derecho Penal” en la Universidad Nacional de Cuyo, provincia de Mendoza.</p>
        <p>He participado de numerosos encuentros y seminarios sobre investigación jurídica, litigación penal en juicios orales y diversos talleres de especialización en la misma materia.</p>
        <p>Con la finalidad de involucrarme aún más en el Derecho Penal he colaborado desde el año 2021 al 2023 en una cátedra especializada en Derecho Procesal Penal en la Universidad de Buenos Aires (UBA). </p>
        <p>Actualmente desempeño el ejercicio profesional de manera de independiente brindando asesoramiento en materia penal tanto en el ámbito provincial como así también federal. </p>
    </div>
    <div class="image">
        <img src="../../assets/img/home.webp" alt="">
    </div>
</div>
