<div class="container">

    <h1>Contacto</h1>
    <div class="info-contact">
        <div>
            <img src="../../assets/img/horario.png" alt="">
            <h4>Horarios</h4>
            <p>Lunes a Viernes <br>de 9:00 a 20 hs.</p>
        </div>
        <div>
            <img src="../../assets/img/telefono.png" alt="">
            <h4>Telefonos</h4>
            <i class="fab fa-whatsapp"></i><a href="#"> +54 261-569-4785</a>
        </div>
        <div>
            <img src="../../assets/img/email.png" alt="">
            <h4>Email</h4>
            <p>leandroruizabogado@gmail.com</p>
        </div>
    </div>
    <p id="info-text">Completa el formulario y te contactamos a la brevedad</p>
    <div class="form-contact">
        <form action="post">
            <label>Nombre:</label>
            <input type="text" id="nombre" required>
            <label>Apellido:</label>
            <input type="text" id="apellido" required>
            <label>E-mail:</label>
            <input type="email" id="email" required>
            <label>telefono:</label>
            <input type="tel" id="telefono" required>
            <label>Mensaje</label>
            <textarea id="mensaje" rows="5" required>Hola. El motivo de mi consulta es </textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>