<div class="container">
    <footer class="footer">

        <div class="footer-info">
            <p>Abogado Leandro Ruiz</p>
            <p>Matricula N° 12.770</p>
            <p>Godoy Cruz, Mendoza</p>
            <p>República Argentina</p>
        </div>

        <div class="footer-links">

            <h4>Seguinos en nuestras redes:</h4>
            <div>
                <img src="../../assets/img/social-instagram.png" alt="">
                <a href="http://www.instagram.com" target="_blank">Instagram</a>
            </div>
            <div>
                <img src="../../assets/img/social-linkedin.png" alt="" >
                <a href="http://www.linkedin.com" target="_blank">Linkedin</a>
            </div>
            <div>
                <img src="../../assets/img/social-whatsapp.png" alt="">
                <a href="http://www.whatsapp.com" target="_blank">Whatsapp</a>
            </div>
            <div>
                <img src="../../assets/img/social-youtube.png" alt="">
                <a href="http://www.youtube.com" target="_blank">YouTube</a>
            </div>

            
        </div>

    </footer>
    <p style="text-align: center; margin-top: 30px;">© 2024 IT Solutions. Todos los derechos reservados.</p>
</div>