<div class="container">
    <h1>MODALIDAD DE TRABAJO</h1>
    <div class="box">
        <div class="card">
            <div class="card-img">
                <img src="../../assets/img/contact.jpg" alt="">
            </div>
            <div class="card-text">
                <h4>Contacto</h4>
                <p>Atención personalizada acorde a la necesidad de cada cliente.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../assets/img/analisis.jpg" alt="">
            </div>
            <div class="card-text">
                <h4>Analisis del Caso</h4>
                <p>Estudio detallado del problema para resguardar tus derechos e intereses.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../assets/img/estrategia.jpg" alt="">
            </div>
            <div class="card-text">
                <h4>Estrategia</h4>
                <p>Elaboración de estrategias y uso de todas las herramientas necesarias para lograr resultados exitosos
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-img">
                <img src="../../assets/img/soluciones.jpeg" alt="">
            </div>
            <div class="card-text">
                <h4>Soluciones Eficientes</h4>
                <p>Soluciones acordes a los intereses personales de cada cliente​</p>
            </div>
        </div>
    </div>

    <div class="info">
        <p>Nuestra primera atención es por vía telefónica a través WhatsApp a fines de establecer el marco sobre la
            necesidad jurídica a resolver y/o asesorar. <br>
        </p>
        <p> Luego se coordina una entrevista con el profesional especialista acorde al caso, la misma puede ser a través
            de las siguientes modalidades: presencial, video llamada WhatsApp y/o por cualquier otra plataforma virtual.
        </p>
        <p>También puede acceder a consultas a través de nuestro <a href="#">formulario web</a> rápido y facil.</p>
        <button>Hace tu consulta</button>
    </div>
</div>