<div class="container">
    <h1>AREAS DE ESPECIALIDAD</h1>
    <div class="defensa">
        <h2>Defensa Penales</h2>
        <p>Asesoramiento ante denuncias, recupero de libertad, detenciones, exención de prisión, prisión preventiva,
            revisión de sentencias condenatorias.</p>
        <p>Asesoramiento en etapa de ejecución de la pena privativa de libertad, solicitud de mejoramiento de
            condiciones de detención, salidas transitorias, libertad condicional, libertad asistida, habeas corpus.</p>
        <button>Urgencias Penales las 24h</button>
    </div>

    <div class="asesoramiento">
        <h2>Asesoramiento a victimas de delitos</h2>
        <p>Con la finalidad de asegurar la protección judicial de víctimas de delitos, el Código de Procedimiento Penal
            de la provincia de Mendoza habilita a éstas para participar activamente durante todo el proceso penal.</p>
        <p>De esta manera no sólo quien ha sufrido directamente una infracción o delito sino también sus familiares,
            allegados, representantes legales y mandatarios pueden constituirse en "Querellantes Particulares" para:</p>
            
        <ul>
            <li>Asistir a los distintos actos del proceso</li>
            <li>Acreditar el hecho delictivo</li>
            <li>Ofrecer prueba</li>
            <li>Asistir al juicio incorporando elementos de convicción</li>
            <li>Reclamar reparación económica por daños e impulsar etapas recursivas (herramienta legal para revertir
                decisiones judiciales contrarias a tus intereses)</li>
        </ul>


    </div>
</div>